pipeline/NYSTATxnProcessing.json
{
	"name": "NYSTATxnProcessing",
	"properties": {
		"activities": [
			{
				"name": "Get All Remote Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "RemoteFileIn",
						"type": "DatasetReference",
						"parameters": {
							"fileName": "*"
						}
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "SftpReadSettings",
						"recursive": true
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Get Check Files Only",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get All Remote Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get All Remote Files').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name,'.CHK')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "For Each Check File",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Check Files Only",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Check Files Only').output.Value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Set TRX File Name",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "trxFileName",
								"value": {
									"value": "@replace(item().name,'_TRX.CHK','.TRX')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Write Records To DB",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "Download TRX File",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "writeRecordsToDB",
									"type": "DataFlowReference",
									"parameters": {
										"fileNameDataFlowParam": {
											"value": "'@{variables('trxFileName')}'",
											"type": "Expression"
										}
									},
									"datasetParameters": {
										"readLocalFile": {
											"fileName": {
												"value": "@variables('trxFileName')",
												"type": "Expression"
											}
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						},
						{
							"name": "Archive on Success",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Write Records To DB",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "LocalFileIn",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LocalFileSuccessOut",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Archive on Failure",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Write Records To DB",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "LocalFileIn",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LocalFileErrorOut",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Download TRX File",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set TRX File Name",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "SftpReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "RemoteFileIn",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "LocalFileIn",
									"type": "DatasetReference",
									"parameters": {
										"fileName": {
											"value": "@variables('trxFileName')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"trxFileName": {
				"type": "String"
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}